body {
    font-family: Georgia, serif;
    color: #000000;
    padding: 0;
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 20em;
}
header {
    background-color: #336699;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    padding: .5em 1em;
}

header img{
    width: auto;
    height:  100%;
    display: none;
}

.headerbutton {
    position: absolute;
    right: 50px;
    top: 0px;
    width: auto;
    height: 150px;
}

main {
    background-color: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    order: 2;
    padding: .5em;
}
.left,.right {
    background-color: #0099FF;
    box-sizing: border-box;
    padding: .5em;
    margin: 0;
    width: 100%;
}
.left {
    order: 1;
}
.right {
    order: 3
}

.itemblocks {
    width: 80%;
    align-items: center;
    justify-content: center;
}

.itemblock {
    display: flex;
    align-items: left;
    margin: 15px;
}
.itemblock img {
    width: 128px;
    height: 128px;
}

.itemblock div {
    width: 100px;
}

.itemblock p {
    padding-left: 3px;
}

.itemblock button {
    display: none;
}

.buffset {
    padding-bottom: 50px;
}

.addButton {
    background: url("../images/icon/plus.png");
    display: inline-block;
    height: 20px;
    width: 20px;
}

.removeButton {
    background: url("../images/icon/minus.png");
    display: inline-block;
    height: 20px;
    width: 20px;
}

.config button{
    height: 30px;
    width: 120px;
}

.onlinestatus {
    padding-left: 3px;
}

.calculation {
    display: inline-block;
    vertical-align: top;
    background: #FFCC00;
    margin-top: 20px;
}

.percent {
    width: 40px;
    height:  23px;
    padding: 0px;
    border: 0px;
}

.rank {
    width:  70px;
    height:  23px;
    padding: 0px;
    border: 0px;
}

.star {
    height:  23px;
    padding: 0px;
    border: 0px;
}

.type {
    height:  23px;
    padding: 0px;
    border: 0px;
}



footer {
    background-color: #336699;
    text-align: center;
    padding: .5em;
    clear: both;
    margin: 0;

}

.bottomline {
    padding: 5px;
}

@media screen and (min-width: 700px) {
    .content {
        display: block;
        height: calc(200vh - 8em);
        overflow-y: hidden;
        margin: 0;
    }
    main {
        position: relative;
        float: left;
        width: 100%;
        padding: .2em 13.5em;
        height: 100%;
    }
    .left {
        position: relative;
        float: left;
        margin-left: -100%;
        width: 12.5em;
        height: 100%;
    }
    .right {
        position: relative;
        float: right;
        margin-left: -100%;
        width: 25em;
        height: 100%;
    }
    .left img {
        display: block;
    }
    header {
        height: 6em;
    }

    header img {
        display: inline;
    }
    footer {
        height: 2em;
    }
}

// written by Bowen zhi